body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #620084;
    padding: 20px;
    display: flex;
    justify-content: space-between;  
    align-items: center;
    height: 83px;

}

.logo {
    max-width: 150px;
    max-height: 150px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
    text-align: center;
    color: white;
}

footer {
    background-color: #620084;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

form {
    display: flex;
    align-items: center;
}

input[type="text"] {
    width: 450px;
    padding: 5px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    height: 30px;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

button i {
    font-size: 16px;
}

input[type="text"]::placeholder {
    color: rgba(0, 0, 0, 0.5); 
    font-size: 14px; 
}