<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho - Atlas Company</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <header>
        <img src="logo.png" alt="Atlas Company Logo" class="logo">
        <nav>
            <ul>
                <li><a href="./views/index.html">Home</a></li>
                <li><a href="./views/product.html">Produtos</a></li>
                <li><a href="./views/cart.html">Carrinho</a></li>
                <li><a href="https://www.instagram.com/atlascompanyc?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">Instagram</a></li>   
            </ul>
        </nav>
    </header>
    <main>
        <h1>Seu Carrinho</h1>
        <p>Itens no seu carrinho.</p>
    </main>
    <footer>
        <p>&copy; 2024 Atlas Company</p>
    </footer>
    <script src="script.js"></script>
</body>
</html>
