<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atlas Company logar</title>
    <link rel="stylesheet" href="../css/style_login.css">
</head>
<body>
    <div class="header">
        <img src="../logo.png" alt="" class="logo">
    </div>
    <div class="container-main">
        <div class="register-side">
            <div class="form-register-header">
                <h2 class="register-title">Já sou cliente</h2>
            </div>
            <div class="container-form-register">
                <form action="#">
                    <input type="email" placeholder="e-mail" class="input-style">
                    <input type="password" placeholder="senha" class="input-style">
                    <a href="#">Esqueci minha senha</a>
                    <input type="submit" value="Acessar minha conta" class="button-style">
                </form>
            </div>
        </div>
        <div class="login-side">
            <div class="login-title">
                <h1>Criar sua conta</h1>
                <h2>Primeiro informe seu e-mail</h2>
                <p>Vamos iniciar sua jornada na Atlas</p>
                <div class="container-form-login">
                    <form action="">
                        <input type="email" placeholder="Informe seu e-mail" class="input-style"id="login-side-input">
                        <input type="submit" value="Próximo passo" class="button-register-side">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>